.profile {
  width: 73%;
  margin: auto;
  margin-top: 4rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 3rem;
  background-color: aliceblue;
  overflow: hidden;
}

.profile-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.profile-top img {
  width: 155px;
  border-radius: 5rem;
}

.profile button {
  background: black;
  color: white;
  width: 16%;
  border-radius: 2rem;
  height: 3rem;
  cursor: pointer;
  margin-top: 0rem;
  margin-left: auto; /* Center the button horizontally */
  overflow: hidden;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.history {
  text-align: center;
  margin-left: -1rem;
  margin-top: 3rem;
}

.history h1 {
  margin: 3.5rem;
}

@media screen and (max-width: 991px) {
  .profile {
    width: 90%; 
    margin-top: 2rem; 
  }

  .profile button {
    width: 100%; 
    margin-left: 0;
    margin-top: 2rem; 
  }

  .profile-top img {
    margin-left: 0;
  }
}

@media screen and (max-width: 780px) {
  .profile {
    width: 95%; 
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 100%; 
    margin-top: 1rem; 
  }

  .main-innernav #menu {
    display: block;
    margin: auto;
    margin-top: 1rem;
    position: relative;
    top: 2px;
    right: 0; 
  }

  .profile-top {
    flex-direction: column; 
    gap: 1rem; 
  }

  .email-name {
    text-align: center;
  }

  .profile-top img {
    margin-left: 0; 
  }

  .profile button {
    width: 100%; 
    margin-left: 0; 
    margin-top: 1rem; 
  }
}

@media screen and (max-width: 991px) {
    .profile {
      width: 90%; 
      margin-top: 2rem; 
    }
  
    .profile button {
      width: 100%; 
      margin-left: 0; 
      margin-top: 2rem; 
    }

    .profile-top img{
        margin-left: 0;
    }
  }
  
  @media screen and (max-width: 780px) {
    .profile {
      width: 95%; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .profile {
      width: 100%; 
      margin-top: 1rem; 
    }
  
    .main-innernav #menu {
      display: block;
      margin: auto;
      margin-top: 1rem;
      position: relative;
      top: 2px;
      right: -234px;
     }

    .profile-top {
      flex-direction: column; 
      gap: 1rem; 
    }

    .email-name{
        text-align: center;
    }
  
    .profile-top img {
      margin-left: 0; 
    }
  
    .profile button {
      width: 100%;
      margin-left: 0;
      margin-top: 1rem; 
    }

   
    .volume-player input{
      width: 60%;
      margin-right: 0.9rem;
    }
  }

