/* PaymentPage.css */
.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-form {
    width: 50%;
    padding: 20px;
    height: 12rem;
    margin-top: -7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .card-element-container {
    margin-bottom: 2rem;
  }
  
  .card-element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pay-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pay-button:hover {
    background-color: #0056b3;
  }
  

 
 