.banner-premium{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18rem;
    overflow: hidden;
}

.premium-main {
    text-align: left;
    border: 1px solid gray;
    background: bisque;
    width: 70%;
    border-radius: 4rem;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    overflow: hidden;
}

.premium-main button{
    width: 13rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-right: -4rem;
    margin-left: 5rem;
    background-color: #db9147;
    overflow: hidden;

}

.banner-premium .buy-btn{
   margin-left: 0;
   height: 3rem;
   background-color: azure;
   width: 7rem;
   font-weight: 600;
   overflow: hidden;
}

.banner-premium .buy-btn:hover{
    width: 10rem;
}

@media screen and (max-width: 991px) {
  .banner-premium {
    flex-direction: column; 
    gap: 2rem; 
  }

  .premium-main {
    width: 90%; 
    margin-top: -5rem; 
  }

  .premium-main button {
    width: 100%; 
    margin-left: 0; 
    margin-top: 2rem; 
  }

  .banner-premium .buy-btn {
    width: 100%; 
  }
}

@media screen and (max-width: 780px) {
  .premium-main {
    width: 95%;
    /* height: 140vh; */
    margin-top: -8rem;
  }
}

@media screen and (max-width: 480px) {
  .premium-main {
    width: 100%; 
    margin-top: -8rem;
  }

  .premium-main button {
    width: 100%; 
    margin-left: 0; 
    margin-top: 2rem; 
  }

  .banner-premium .buy-btn {
    width: 100%; 
  }
}