
.podcast-cards{
    width: 250px;
    height: 294px;

    background: linear-gradient(
        177.7deg,
        rgba(141, 50, 177, 0.3) 1.63%,
        rgba(132, 153, 103, 0.009) 148.18%
    );
    border-radius: 0.8rem;
    padding: 0.5rem;
    opacity: 2;
    cursor: pointer;
}

.podcast-cards img{
    width: 100%;
    height: 249px;
    border-radius: 0.8rem;
}

.podcast-cards p{
    color: black;
}
a{
    text-decoration: none;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.podcast-cards:hover{
    opacity: 0.7;
    transition: all 0.3s;
}

.podcast-style input{
    width: 64%;
    margin: 0 auto;
    display: block;
    height: 1.7rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    padding: 0.2rem;
    padding-left: 1rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
}